<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head.ejs') %>
    <title><%= title %></title>
  </head>
  <body class="index-page layout">
    <%- include('../partials/navbar.ejs') %>

    <main class="main">
      <div class="container" data-aos="fade-up" data-aos-delay="100">
        Raqamli metodika
      </div>
    </main>

    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
